<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Reservas</h3>

        <div class="box-tools">
          <!-- Date Picker -->
          <div class="input-group input-group-sm">
            <div class="input-group-addon pull-left">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" style="width: 150px" id="datepicker">
          </div> 
          
          <!-- Busqueda -->
          <!-- <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Busqueda">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div> -->
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>Titular</th>
            <th>Estado</th>
            <th>Método</th>
            <th>Ingreso</th>
            <th>Salida</th>
            <th>Modificar</th>
            <th>Eliminar</th>
            <th>Check-In</th>
          </tr>
          <tr>
            <td>E-183</td>
            <td>Pedro Quiroga</td>
            <td><span class="label label-success">Confirmada</span></td>
            <td>Personalmente</td>
            <td>11/7/2019</td>
            <td>29/7/2019</td>
            <td>
              <button type="button" class="btn btn-block btn-warning btn-sm">Modificar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-danger btn-sm">Eliminar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-info btn-sm">Check-In</button>
            </td>
          </tr>
          <tr>
            <td>PR-219</td>
            <td>Alejandro Mariscal</td>
            <td><span class="label label-warning">Por confirmar</span></td>
            <td>Teléfono</td>
            <td>17/8/2019</td>
            <td>21/8/2019</td>
            <td>
              <button type="button" class="btn btn-block btn-warning btn-sm">Modificar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-danger btn-sm">Eliminar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-info btn-sm disabled">Check-In</button>
            </td>
          </tr>
          <tr>
            <td>FM-657</td>
            <td>Andrea Ramos</td>
            <td><span class="label label-danger">Cancelada</span></td>
            <td>Pág. de Reservas</td>
            <td>1/11/2019</td>
            <td>20/11/2019</td>
            <td>
              <button type="button" class="btn btn-block btn-warning btn-sm">Modificar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-danger btn-sm">Eliminar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-info btn-sm disabled">Check-In</button>
            </td>
          </tr>
          <tr>
            <td>E-175</td>
            <td>Nicole Torrez</td>
            <td><span class="label label-success">Confirmada</span></td>
            <td>Personalmente</td>
            <td>23/12/2019</td>
            <td>29/12/2019</td>
            <td>
              <button type="button" class="btn btn-block btn-warning btn-sm">Modificar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-danger btn-sm">Eliminar</button>
            </td>
            <td>
              <button type="button" class="btn btn-block btn-info btn-sm">Check-In</button>
            </td>
          </tr>
          <tr>
            <td colspan="9">
              <a href="./agregar.html" type="button" class="btn btn-block btn-primary btn-lg">Añadir nueva reserva</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>