<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/">Hotel<b>Empresarial</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
     

      <form (submit)="onSubmitLogin()" action="/" method="post">
        <div class="form-group has-feedback">
          <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" placeholder="Email/Nombre de usuario">
         
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" id="password" [(ngModel)]="password"class="form-control" placeholder="Contraseña">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                  <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins>
                </div> Recordar contraseña
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <button class="btn btn-lg btn-google" (click)="onClickGoogleLogin()" ><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
      </div>
      <!-- /.social-auth-links -->

      <a href="#">Olvide mi contraseña</a><br>
      <a routerLink="/register" class="text-center">Registrar nuevo usuario</a>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>
