<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Habitaciones</h3>
        
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th *ngFor="let header of headers">{{header}}</th>
          </tr>
          <tr *ngFor="let hab of habitaciones">
            <td>{{hab.codigo}}</td>
            <td>{{hab.tipo}}</td>
            <td>Bs. {{hab.precio}}</td>
            <td><span class="label label-success">{{hab.estado}}</span></td>
            <td>{{hab.piso}}</td>
            <td>{{hab.numero}}</td>
            <td>
                <button type="button" class="btn btn-block btn-warning btn-sm"
                  [routerLink]="['modificar-habitacion', hab.codigo]">Modificar</button>
            </td>
            <td>
                <button type="button" class="btn btn-block btn-danger btn-sm"
                  (click)="deleteClick(hab.codigo)">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td colspan="8">
                <button type="button" class="btn btn-block btn-primary btn-lg"
                  routerLink="agregar-habitacion">Añadir nueva habitación</button>
            </td>
            </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>