<div class="col-md-9 col-md-offset-1">
    <!-- Horizontal Form -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Introduzca los datos de la nueva habitación</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="submitHabitacion()">
        <div class="box-body">
          <div class="form-group">
            <label for="codigo" class="col-sm-2 control-label">Código</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="codigo" id="codigo" placeholder="XX-YYY">
            </div>
          </div>

          <div class="form-group">
            <label for="piso" class="col-sm-2 control-label">Piso</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="piso" id="piso" placeholder="Xº">
            </div>
          </div>

          <div class="form-group">
            <label for="numero" class="col-sm-2 control-label">Número</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="numero" id="numero" placeholder="YYY">
            </div>
          </div>

          <div class="form-group">
            <label for="tipo" class="col-sm-2 control-label">Tipo</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="tipo" id="tipo" placeholder="Regular, Doble, etc.">
            </div>
          </div>

          <div class="form-group">
            <label for="precio" class="col-sm-2 control-label">Precio (Bs.)</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="precio" id="precio" placeholder="150">
            </div>
          </div>

          <div class="form-group">
            <label for="capacidad" class="col-sm-2 control-label">Capacidad</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="capacidad" id="capacidad"
              placeholder="Número de personas">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-primary col-md-6 col-md-offset-3">Agregar habitación</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
  </div>