<div class="col-md-9 col-md-offset-1">
  <!-- Horizontal Form -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Búsqueda de Reserva</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="idReserva" class="col-sm-2 control-label">Buscar</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="idReserva" placeholder="Código de reserva, documento, apellido">
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-info col-md-6 col-md-offset-3">Buscar</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
</div>